# eclipse and maven stuff
.classpath
.metadata/
.settings/
.project
/target/
/*/target/
/*/*/target/
*.orig

# idea
.idea/
*.iml


# binary files
*.class
*.exe
*.jar
*.war
*.zip

# temp files
*.log
*.temp
*.tmp
/tmp*
*.bak

.mvn/timing.properties

