/** @define TransUnit; use strict */

:root {
  --TransUnit-border-color           : color(#416988 alpha(8%));
  --TransUnit-rhythm                 : 1.5rem;
  --TransUnit-text-font-family       : "Source Sans Pro", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  --TransUnit-text-font-size         : 1rem;
  --TransUnit-text-line-height       : 1.5;
  --TransUnit-text-color             : #444c54;
  --TransUnit-focus-color-bg         : #fff;
}

.TransUnit {
  position: relative;
  margin: 0;
  padding: 0;
  cursor: text;
  user-select: none;
  border-bottom: 1px solid var(--TransUnit-border-color);
}

.TransUnit:focus {
  outline: 0;
  box-shadow: none;
}

.TransUnit.is-focused {
  opacity: 1 !important;
  background-color: var(--TransUnit-focus-color-bg);
}

.TransUnit:before,
.TransUnit:after {
  position: absolute;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: var(--TransUnit-rhythm);
  content: "";
  /*transition: var(--TransUnit-transition);*/
  transform: scaleY(0);
  opacity: 0;
  background-color: var(--TransUnit-focus-color-bg);
  background-clip: padding-box;
}

.TransUnit:before {
  box-shadow: 0 calc(var(--TransUnit-rhythm) * -.25) calc(var(--TransUnit-rhythm) * .5) rgba(0,0,0,.04);
  transform-origin: bottom;
  top: calc(var(--TransUnit-rhythm) * -.75);
}

.TransUnit:after {
  box-shadow: 0 calc(var(--TransUnit-rhythm) * .25) calc(var(--TransUnit-rhythm) * .5) rgba(0,0,0,.04);
  transform-origin: top;
  bottom: calc(var(--TransUnit-rhythm) * -.75);
}

.TransUnit.is-focused:before,
.TransUnit.is-focused:after {
  visibility: visible;
  transform: scaleY(1);
  opacity: 1;
}

.TransUnit.is-first {
  border-top: 1px solid var(--TransUnit-border-color);
}

/* Pair with .Editor-content */
.TransUnit-container.is-unit-selected .TransUnit {
  opacity: 0.8;
}

/**
 * Panels
 */

.TransUnit-panel {
  position: relative;
  padding-top: calc(var(--TransUnit-rhythm) * .75);
  padding-bottom: calc(var(--TransUnit-rhythm) * .75);
  padding-left: var(--TransUnit-rhythm);
  list-style: none;
  vertical-align: top;
}

.TransUnit-item {
  position: relative;
}

.TransUnit-source {
  user-select: text;
}

.TransUnit.is-focused .TransUnit-source {
  cursor: text;
}

.TransUnit-translation {
  cursor: text;
  user-select: text;
}


.TransUnit-text {
  font-family: var(--TransUnit-text-font-family);
  font-size: var(--TransUnit-text-font-size);
  line-height: var(--TransUnit-text-line-height);
  overflow: hidden;
  width: 90%;
  min-height: var(--TransUnit-rhythm);
  margin: 0;
  padding: calc(var(--TransUnit-rhythm) * .75);
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  tab-size: 8;
  color: var(--TransUnit-text-color);
  border: none;
  background-color: transparent;
  box-shadow: none;
  -webkit-appearance: none;
}

.TransUnit-text:focus {
  border: none;
  outline: none;
  background-color: transparent;
}

/**
 * Override text highlighting changing text format
 * otherwise it won't align
 */

.TransUnit-text span {
  font-weight: 400 !important;
  font-style: normal !important;
}

/**
 * Medium Size Up
 */

@media (min-width:741px) {
  .TransUnit,
  .TransUnit-item {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .TransUnit-panel {
    display: table-cell;
    width: 90%;
    padding-left: 0;
    padding-right: 1rem;
  }

  .TransUnit-source {
    padding-right: calc(var(--TransUnit-rhythm) * .5);
  }

  .TransUnit-translation {
    padding-left: calc(var(--TransUnit-rhythm) * .5);
  }

}
