@import '~antd/dist/antd.less';
@import '../components/TransInfo/index.css';

.ant-layout-sider-trigger {
  padding-top: 1rem;
}

.editor {

  .logo {
    width: 110px;
    background: transparent;
    float: left;
    color: #fff;
    font-size: 1.2rem;
    padding-left: 0.5rem;
  }

  .ant-layout-content {
    padding: 0 !important;
  }

  .TransUnit-source {
    margin-top: 2rem;
  }

  .ant-layout-header {
    background: #111;
  }

  .ant-menu-dark {
    float: right;
  }

  .rowHeading {
    background: #fff;
    height: auto;
  }

  .columnHeading {
    font-size: 1.1rem;
    padding-left: 1rem;
  }

  .targetInfo .ant-row {
    width:100%;
  }

  .targetInfo .ant-row span {
    float:right;
  }

  .targetInfo .btnLink {
    border: none;
    outline: transparent;
    background: transparent;
  }


  .ant-popover-inner-content .ant-input {
    font-size: 0.75rem;
  }

  button.ant-btn.ant-btn-primary.saveTrans {
    float:right;
    margin-top: 3rem;
  }


}

.EditorToolbar {

  .ant-layout-header {
  background: #002140;
  height: auto;
  color: rgba(255, 255, 255, .8);
  line-height: 48px;
  }

  .editorPagination {
  float: right;
  padding: 0.5rem;
  }

  .ant-pagination {
  color: rgba(255, 255, 255, .8);
  }

  .ant-pagination-simple .ant-pagination-simple-pager input {
  color: #002140;
  }

}
